<div class="col-md-12 logout-market">
  <div class="summary-data">
    <h3 class="summary">Market Summary</h3>
    <%= render "market_summary" %>
  </div>
  <div class="market-news">
    <h3 class="market-news-header">Market and Business News</h3>
    <%= render "market_news" %>
  </div>

  <h3 class="trend">Market Trend</h3>
  <% @market_trend.each do |header, data_arr| %>
    <%= render "market_trend", { header: header, data_arr: data_arr } %>
  <%end #end outer each%>
</div>