<% @ny_times.each do |news| %>
  <div class="news-section">
    <span class="title">
      <%= link_to CGI.unescapeHTML(news[:title]), news[:url], target: "_blank" %>
      <div class="byline">
        <span class="src"><%= news[:byline].titleize %></span>
        -
        <span class="date"><%= time_ago_in_words(news[:created_date]) %> ago</span>
      </div>
      <div class="caption">
        <%# CGI.unescapeHTML to decode and CGI.escapeHTML to encode (e.g. ' => &#8217;) %>
        <%= CGI.unescapeHTML(news[:abstract]) %>
      </div>
    </span>
  </div>
<% end %>