<% provide(:title, "About PaperTrading") %>
<h1>About PaperTrading</h1>
<p>PaperTrading is an application that help people learn to trade before they put their hard earned money into a brokerage account</p>

