<% provide(:title, "Welcome") %>
<h1>Learn to trade stocks with PaperTrading</h1>

<p>THIS WILL BE A PLACE TO PUT ALL THE TRADING FEED INCLUDING POSTS</p>

<%# TESTING TRADEKING API %>
<p>
  <% @test.each do |k,v| %>
    <li><%="#{k}: #{v}"%></li>
  <% end %>
</p>