<% if @status_feed.any? %>
  <ol class="posts">
    <%= will_paginate @status_feed %>
    <%# Black magic: Rails will look for post partial (_post.html.erb) since each item in @status_feed has class of Post %>
    <%= render @status_feed %>
    <%= will_paginate @status_feed %>
  </ol>
<% else %>
  <ol class="posts-empty">
    <p>Looks like your status feed has no posts. Post something or follow someone to keep track of that person's trades!</p>
  </ol>
<% end %>