/*
An alternative way is to use the CDN links at
http://getbootstrap.com/getting-started/
*/

/* add Bootstrap CSS framework. */
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, and properties */
$light-gray: #777;

/* @mixin introduces Sass mixin facility, which is the box-sizing.
A mixin allows a group of CSS rules to be packaged up and used for multiple elements
This means that @include box_sizing under .debug_dump packages all of these into the .debug_dump*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #f5f8fa;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

sup {
  color: $light-gray;
}
/* market summary/trend/news */

.summary-name {
  padding-right: 15px;
}

.up {
  color: green;
}

.down {
  color: red;
}

/*.up, .down {
  padding-left: 15px;
}*/

table {
  padding-right: 50px;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
    .trend-name {
      /*padding-right: 35px;*/
    }
    .dol-chg {
      padding-left: 15px;
      padding-right: 15px;
      white-space: nowrap;
    }
    .volume {
      margin-left: 15px;
      margin-right: 15px;
    }
  /*  .dol {
      padding-left: 25px;
    }*/
}

.trend-data {
  margin-bottom: 25px;
}

.summary-data, .market-news-header {
  clear: both;
}

.summary-data {
  margin-bottom: 15px;
}

.market-news {
  margin-bottom: 15px;
  /*padding-left: 15px;*/
  .news-section {
    margin-bottom: 10px;
  }
  .src {
    color: #6F6F6F;
  }
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 15px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    display: block;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: 3px;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 10px;
}

.user_stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  margin-left: 30px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
  }
}

/* Users Index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Posts */

.posts, .posts-empty {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      /* responsive image scaling to fit screen */
      width: 100%;
      height: auto;
    }
    .video {
      /*https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php*/
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 5px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    p {
      margin: 0;
      padding: 0;
      line-height: inherit; /* body */
      font-size: 1em;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside, .profile_form {
  textarea {
    height: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.profile_form {
  margin-top: 20px;
}

span.picture {
  margin-top: 5px;
  input {
    border: 0;
  }
}


/*.posts-empty {

}*/
/* mobile development */
/*@media screen and (min-device-width: 320px) and (max-device-width: 650px) {
  div.feed {
    display: none;
  }
}*/